body {
  margin: 60px auto;
  width: 70%;
}
nav ul,
footer ul {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li,
footer ul li {
  display: inline;
  margin-right: 20px;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
  color: #6e6e6e;
}

a.pubtitle {
  text-decoration: none;
  color: #6e6e6e;
}

h1 {
  font-weight: bold;
  font-size: 3em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}
h2 {
  font-size: 1.3em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  color: #333;
  margin-bottom: 20px;
  margin-top: 30px;
}
h3.hometitle {
  font-size: 16px;
  font-weight: bold;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  color: #333;
}

a:hover {
  /* text-decoration: none; */
  color: rgb(37, 109, 17);
}

p {
  font-size: 15px;
  line-height: 20px;
  color: #333;
  font-family: "Roboto","proxima-nova", "Helvetica Neue", "Helvetica", "sans-serif";
  margin-bottom: 20px;
  letter-spacing: 0.3px;
}

p.projectinfo {
  font-size: 13px;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  color: #8d8d8d;
}

p.projectdes {
  color: #5d5d5d;
}

.skill {
  /*background-color: #ECEAC8;
    border-radius: 25px;*/
  font-size: 0.7em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  font-weight: bold;
  color: #8d8d8d;
  margin-bottom: 5px;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 8px 8px -4px rgb(159, 162, 163);
  border-radius: 2%;
}

img.skillicon {
  max-width: 25px;
  margin: 1px;
}

.image {
  opacity: 1;
  display: block;
  width: 60%;
  /* height: 60%; */
  transition: 0.3s ease;
  backface-visibility: hidden;
  border-radius: 2%;
}

.imgcontainer{
  margin-bottom: 30px;
  
}

.imgcontainer:hover .image {
  opacity: 0.3;
  margin-bottom: 40px;
}

#hanpic {
  box-shadow: 0 0 0 0 rgb(159, 162, 163);
  border-radius: 50%;
  width: 13%;
  height: auto;
}

#ec {
  display: block;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 0 0 rgb(159, 162, 163);
}

#pdm {
  display: block;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 0 0 rgb(159, 162, 163);
}

/* About page profile picture */
.header {
  overflow: auto;
}

.header img {
  float: left;
  height: 80px;
  margin-top: 20px;
  margin-left: 30px;
}

.header h1 {
  float: left;
  position: relative;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: 40px;
  height: 5px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  border: none;
  background-color: #a4a4a4;
  user-select: none;
  margin-bottom: 20px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#future {
  color: rgb(102, 41, 102);
  font-weight: bold;
}

#dine {
  color: rgb(207, 130, 28);
  font-weight: bold;
}

#das {
  color: rgb(52, 137, 158);
  font-weight: bold;
}

.current {
  color: rgb(16, 78, 37);
}

.description {
  /* text-align: justify; */
  margin: 0px 0px 0px 0px;
  font-size: 12px;
}

.blurb {
  /* margin: 50px 100px 5px 5px; */
  margin-top: 60px;
}

#design {
  margin-top: 60px;
}
