<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
			<link rel="shortcut icon" type="image/png" href="image/hanicon.png">
		</head>

		<body>
			<nav>
	    		<ul>
	        		<!-- <li><a href="/">Home</a></li> -->
		        	<li><a href="/" class="{% if page.url=='/'%}current{% endif %}" >Han Qiao</a></li>
	        		<li><a href="/portfolio" class="{%if page.url=='/portfolio/'%}current{%endif%}" >Design Projects</a></li>
					<!-- <li><a href="/data" class="{%if page.url=='/data/'%}current{%endif%}">Data Projects</a></li> 
					<li><a href="/research"class="{%if page.url=='/research/'%}current{%endif%}">Other Papers</a></li>  -->
		
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:hqiao@wellesley.edu">Email: hqiao@wellesley.edu</a></li>
					<li><a href="https://www.linkedin.com/in/han-qiao-a05311111/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
